﻿<div id="main">
    <div class="shell">
        <div class="col">
            <div class="post">
                <h3>Please click <a href="/chequelist/"><span>HERE</span></a> to go to the cheque list page.</h3>
            </div>
            <div class="post">
                <h3>You can go to the Umbraco login page by clicking <a href="~/Umbraco/"><span>HERE</span></a></h3>
                <p>The credentials required for login have been provided in "How To Run The Test" PDF</p>
            </div>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>

