﻿<footer>
    <div class="footer">
        <div class="shell">
            <p class="lf">Umbraco test done by Alan Kalhor</a></p>
            <p class="rf">Email: <a href="mailto:Alan.Kalhor@gmail.com">Alan.Kalhor@gmail.com</a><a href="http://au.linkedin.com/in/alankalhor" target="_blank"> -  Linkedin: Alan Kalhor</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
</footer>

