﻿<div id="header">
    <div class="shell">
        <div id="navigation">
            <ul>
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/chequelist/"><span>Cheque List</span></a></li>
                <li><a href="/Umbraco/"><span>Umbraco</span></a></li>
            </ul>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>
<div id="featured-content">
    <div class="shell">
        <h2>Umbraco test done by Alan</h2>
    </div>
</div>


