* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font-size:11px;
	line-height:16px;
	/*font-family:Georgia, serif;*/
	color:#7f7f7f;
	background:#fff url(/images/body-bg.gif) repeat-x 0 0;
}
a {
	color:#0252aa;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	color:#000;
}
a img {
	border:0;
}
input, textarea, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:0;
}
textarea {
	overflow:hidden;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.shell {
	width:980px;
	margin:0 auto;
}
#header {
	padding:15px 0 15px 0;
}
#logo-holder {
	float:left;
	display:inline;
	padding:3px 0 0 11px;
}
#logo-holder h1#logo {
}
#logo-holder h1#logo a {
	font-size:22px;
	font-weight:normal;
	color:#000;
	line-height:21px;
	font-style:italic;
}
#logo-holder p#quote {
	font-size:10px;
	color:#777;
	line-height:12px;
	padding-left:3px;
	letter-spacing:0.12em;
}
#navigation {
	float:right;
	display:inline;
}
#navigation ul {
	list-style:none outside none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-right:7px;
}
#navigation ul li a, #navigation ul li a span {
	float:left;
	display:inline;
	height:34px;
	font-weight:bold;
	font-style:italic;
	font-size:12px;
	color:#8e8e8e;
	line-height:33px;
	padding-left:15px;
}
#navigation ul li a span {
	padding:0 15px 0 0;
}
#navigation ul li a:hover, #navigation ul li a.active, #navigation ul li a:hover span, #navigation ul li a.active span {
	background:url(/images/nav-hover.gif) no-repeat 0 0;
	color:#868686;
}
#navigation ul li a:hover span, #navigation ul li a.active span {
	background-position:right 0;
}
#featured-content {
	background:url(/images/featured-content-bg.gif);
	padding:11px 0 18px 0;
	min-height:69px;
    text-align: center ;
}
#featured-content h2 {
	font-size:60px;
	font-style:italic;
	line-height:60px;
	color:#fff;
	padding-bottom:9px;
}
#featured-content p {
	font-size:22px;
	color:#cceefb;
	line-height:25px;
	font-style:italic;
}
#main {
	padding:43px 0;
}
#main .shell {
	width:952px;
	padding-left:28px;
}
.col {
	float:left;
	display:inline;
	/*width:290px;*/
	margin-right:28px;
	padding-bottom:43px;
}
.col-last {
	margin:0;
}
#main-content {
	float:left;
	display:inline;
	width:607px;
	margin-right:28px;
}
#sidebar {
	float:left;
	display:inline;
	width:290px;
}
.post {
    padding-bottom: 10px;
}
.post h3 {
	color:#000;
	font-size:22px;
	font-style:italic;
	padding-bottom:4px;
	line-height:22px;
}
.post p {
	padding-top:10px;
}
.post p a {
	color:#0092d7;
	text-decoration:underline;
}
.post p a:hover {
	color:#000;
	text-decoration:none;
}
.footer {
	background:url(/images/footer-bg.gif) repeat-x 0 0;
	font-family:Verdana, sans-serif;
	font-size:9px;
	padding:15px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.footer, .footer a {
	color:#7b7b7b;
	text-decoration:none;
}
.footer p {
	margin:0;
	padding:0;
	line-height:normal;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}

/* TABLE STYLING*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/*body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}*/

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  /*height: 320px;*/
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:100;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.details-maindiv {
    width: 700px ;
    margin: 20px auto;
}
.details-header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.details-maindiv table{
    margin: 0 auto;
    border: 1px solid gray  ;
}
.details-footer {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

