﻿@model List<ChequeModel>
@using AlanUmracoTest.Models
@using AlanUmracoTest.Helpers


<div class="blog-inner">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Date</th>
                <th class="text-center">Details</th>
            </tr>
        </thead>
        <tbody class="table-hover">

            @foreach (ChequeModel cheque in Model)
            {

                @RenderChequeList(cheque);
            }
        </tbody>
    </table>

</div>

@helper RenderChequeList(ChequeModel item)
        {
    <tr>
        <td class="text-left">@item.Name</td>            
        <td class="text-left">
            @ChequeHelper.DisplayAmount(@item.Amount.ToString())
        </td>
        <td class="text-center">
            @ChequeHelper.DisplayDateShortFormat(@item.Date.ToString())
        </td>
        <td class="text-center">
            <a href="@item.DetailsLink">Details</a>
        </td>
    </tr>

}


