﻿@inherits UmbracoTemplatePage
@using AlanUmracoTest.Helpers

<div class="row">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Umbraco.AssignedContentItem.Name
            </td>
        </tr>
        <tr>
            <td>
                Date
            </td>
            <td>
                @ChequeHelper.DisplayDateShortFormat(@Umbraco.AssignedContentItem.GetPropertyValue("chequeDate").ToString())
           </td>
        </tr>
        <tr>
            <td>
                Amount
            </td>
            <td>
                @ChequeHelper.DisplayAmount(@Umbraco.AssignedContentItem.GetPropertyValue("chequeAmount").ToString())
            </td>
        </tr>
        <tr>
            <td>
                Pay
            </td>
            <td>
                @ChequeHelper.DisplayAmountInWordsFormat(@Umbraco.AssignedContentItem.GetPropertyValue("chequeAmount").ToString())                
            </td>
        </tr>
    </table>
</div>
<div class="details-footer">
    <a href="/chequelist/">Back to Cheque List</a>
</div>

