﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}
<div class="details-maindiv">
    <div class="details-header">
        <h1>Cheque Details</h1>
    </div>
    @{ Html.RenderAction("RenderChequeDetails", "Cheque");}
</div>

